<!DOCTYPE html>
<html lang="{{lang}}">
{{{component_head}}}

<body>
    <div class="container">
        <div class="header">
            <img src="{{header.logoSrc}}" alt="{{header.logoAlt}}">
        </div>

        <div class="content">
            <h2>{{content.h2}}</h2>
            <p>{{content.p}}</p>
            <a href="((verifyLink))" class="button">{{content.buttonText}}</a>
        </div>

        {{{component_footer}}}
    </div>
</body>

</html>